.material-symbols-outlined{
    color: white;
}
.main_payment{
    position: relative;
    width: 98vw;
    height: 100%;
    margin-top: 8rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    cursor: none;
}
.card{
    color: white;
    transition: ease-in-out 0.5s 0.0001s;
    margin-bottom: 3.5rem;
}
.card h2:hover{
    text-shadow: 0 0 11px #e1ffe5;
}
.card h2 span{
    color: green;
    position: relative;
    font-size: 2rem;
    top: 8px;
}
.card_payment {
    padding: 0 1.1rem;
    margin: .2rem;
}
.card_payment{
    width: 185px;
    height: 95px;
    margin-bottom: 3.5rem;
}
.button_payment{
    position: relative;
    cursor: none;
    font-weight: 500;
    font-size: 150%;
    width: 185px;
    height: 95px;
    background: transparent;
    overflow: hidden;
    color: green;
    border: green 0.15rem solid;
    border-radius: 5px;
    z-index: 0;
    transition: all 0.45s linear;
}
.button_payment::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 50% 50%);
    background-color: green;
    z-index: -1;
    transition: all 0.45s linear;
}
.button_payment:hover::after{
    clip-path: circle(100% at 50% 50%);
}
.button_payment:hover{
    color: black;
    box-shadow: green 5px 0 50px;
}
.cursor{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
}
@media(max-width: 822px){
    .card{
        width: min(80%, 90%);
    }
    .card h2{
        width: 100%;
    }
}