.main_description{
    position: relative;
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: none;
}
.description_text{
    height: auto;
}
.description_text p{
    font-size: min(5vw, 1rem);
}
.cursor{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    mix-blend-mode: difference;
    will-change: transform, width, height;
}

@media(max-width: 822px){
    .main_description{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: none;
    }
     .description_text h3, .description_text p{
        font-size: min(5vw, 1.2rem);
    }
    .main_description img{
        width: min(600px, 80%)
    }
}