@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

*{
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-style: normal;
}